.about h3{
    font-size: 2.5rem !important;
}
.about-container p{
    max-width: 40rem !important;
    font-size:1.5rem ;
}
.need-estimate{
    background-color: var(--base-color);
}
.fa-phone-volume{
    font-size: 3.5rem !important;
}
.about-image{
    display: flex;
    justify-content: end !important;
    align-items: center !important;
    max-width: 80rem;
    max-height: 80rem;
}
.about-image, img{
    object-fit: cover;
    max-width: 80rem;
    max-height: 80rem;
}